.comments__wrapper {
  background-color: #ffffff;
}

.comments__list {
  text-align: center;
}

.comments__item {
  margin: 0;
  padding: 0;
}

.comments__name {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.comments__text {
  margin: 0;
  padding: 0;
  color: #283645;
}
