.contacts__text {
  font-size: 24px;
  color: #283645;
  font-weight: lighter;
  text-align: center;
}

.contacts__list {
  text-align: center;
}

.contacts__title {
  font-size: 18px;
  color: #283645;
  font-weight: bold;
}

.contacts__content {
  font-size: 24px;
  font-weight: lighter;
  color: #d22856;
}
