.clock {
  &--hidden {
    display: none;
  }

  @media (min-width: 960px) {
    background-color: #f2f2f2;
  }
}

@media (min-width: 660px) {
  .clock--hidden {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
  }
}

@media (min-width: 960px) {
  .clock--hidden {
    margin: 0;
  }
}

.clock__wrapper {
  @media (min-width: 660px) {
    width: 310px;
    margin-left: 358px;
  }

  @media (min-width: 960px) {
    width: 410px;
  }
}

.clock__title {
  @media (min-width: 660px) {
    margin: 0;
    padding: 0;
    padding-top: 98px;
    width: 200px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
  }

  @media (min-width: 960px) {
    line-height: 30px;
    width: 300px;
  }
}

.clock__text {
  @media (min-width: 660px) {
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media (min-width: 960px) {
    font-size: 18px;
  }
}

.clock__link {
  @media (min-width: 660px) {
    line-height: 24px;
    color: #d22856;
  }

  @media (min-width: 960px) {
    font-size: 18px;
  }
}
