.clock {
  &--hidden {
    display: none;
  }

  @media (min-width: 960px) {
    background-color: #f2f2f2;
  }

  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
  }

  @media (min-width: 960px) {
    margin: 0;
  }
}

.clock__img {
  @media (min-width: 660px) {
    position: relative;
    width: 300px;
    margin-right: 90px;
  }
}

.clock__timer {
  @media (min-width: 660px) {
    width: 238px;
    height: 276px;
    fill: #dedede;
  }
}

.clock__hour {
  @media (min-width: 660px) {
    position: absolute;
    top: 55px;
    left: 18px;
    display: inline-block;
    width: 175px;
    height: 175px;
    text-align: center;
    vertical-align: top;
    background-color: #ffffff;
    border: 13px solid #d22856;
    border-radius: 50%;
    font-size: 94px;
    line-height: 168px;
    color: #d22856;
    font-weight: bold;
  }
}

.clock__wrapper {
  @media (min-width: 660px) {
    width: 310px;
    margin-top: -61px;
  }

  @media (min-width: 960px) {
    width: 410px;
  }
}

.clock .container {
  @media (min-width: 660px) {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin-right: 17px;
  }
}

.clock__title {
  @media (min-width: 660px) {
    margin: 0;
    padding: 0;
    padding-top: 98px;
    width: 200px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
  }

  @media (min-width: 960px) {
    line-height: 30px;
    width: 300px;
  }
}

.clock__text {
  @media (min-width: 660px) {
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media (min-width: 960px) {
    font-size: 18px;
  }
}

.clock__link {
  @media (min-width: 660px) {
    line-height: 24px;
    color: #d22856;
  }

  @media (min-width: 960px) {
    font-size: 18px;
  }
}
