.comments {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 660px) {
    margin-bottom: 16px;
  }

  @media (min-width: 960px) {
    margin-bottom: 26px;
  }
}

.comments__quotes {
  display: none;

  @media (min-width: 960px) {
    display: block;
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-40px);
    width: 79px;
    height: 64px;
  }
}

.comments__wrapper {
  margin-bottom: 25px;
  background-color: #ffffff;

  @media (min-width: 660px) {
    margin-bottom: 0;
  }

  @media (min-width: 960px) {
    position: relative;
  }
}

.comments__list {
  margin-bottom: 16px;
  text-align: center;

  @media (min-width: 660px) {
    margin-bottom: 13px;
  }
}

.comments__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: 660px) {
    flex-direction: column-reverse;
    padding-top: 90px;
  }

  @media (min-width: 960px) {
    margin-left: 80px;
  }
}

.comments__name {
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;

  @media (min-width: 660px) {
    margin-bottom: 0;
    font-size: 20px;
  }

  @media (min-width: 960px) {
    font-size: 24px;
    margin-left: 240px;
    width: 300px;
  }
}

.comments__text {
  margin: 0;
  color: #283645;

  @media (min-width: 660px) {
    margin-bottom: 34px;
    font-size: 18px;
  }

  @media (min-width: 960px) {
    width: 780px;
    margin-bottom: 36px;
  }
}

.comments__man {
  display: none;

  @media (min-width: 660px) {
    margin: 0;
    padding: 3px;
    display: block;
  }

  @media (min-width: 960px) {
    width: 300px;
    margin-left: 237px;
    font-size: 18px;
  }
}
