body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  background-color: #ffffff;
  color: #283645;
}

@media (min-width: 660px) {
  body {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  body {
    width: 940px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  width: 280px;
  margin: 10px auto;
  border: 3px solid #ffffff;
  border-radius: 50px;
  text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.page-main {
  width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

@media (min-width: 660px) {
  .page-main {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .page-main {
    width: 940px;
    margin: 0 auto;
  }
}

.inner-page {
  width: 320px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  background-color: #ffffff;
  color: #283645;
}

@media (min-width: 660px) {
  .inner-page {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .inner-page {
    width: 940px;
    margin: 0 auto;
  }
}

.inner {
  width: 320px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  background-color: #ffffff;
  color: #283645;
}

@media (min-width: 660px) {
  .inner {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .inner {
    width: 940px;
    margin: 0 auto;
  }
}
