.contacts__text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  color: #283645;
  background-color: #ffffff;
}

@media (min-width: 660px) {
  .contacts__text {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 43px;
    margin-bottom: 42px;
    font-size: 40px;
    line-height: 48px;
  }
}

.contacts__list {
  text-align: center;
}

@media (min-width: 660px) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contacts__title {
  font-size: 18px;
  color: #283645;
  font-weight: bold;
}

.contacts__content {
  display: block;
  font-size: 24px;
  font-weight: lighter;
  color: #d22856;
}

.contacts__item {
  margin-bottom: 25px;
}

@media (min-width: 660px) {
  .contacts__item {
    width: 50%;
  }
}

@media (min-width: 660px) {
  .contacts__item--first {
    margin-bottom: 35px;
  }
}

.contacts__content--address {
  width: 298px;
}
