.contacts__text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  color: #283645;
  background-color: #ffffff;
}

.contacts__list {
  text-align: center;
}

.contacts__title {
  font-size: 18px;
  color: #283645;
  font-weight: bold;
}

.contacts__content {
  display: block;
  font-size: 24px;
  font-weight: lighter;
  color: #d22856;
}

.contacts__item {
  margin-bottom: 25px;
}

.contacts__content--address {
  width: 298px;
}
