.contacts__text {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  color: #283645;
  background-color: #ffffff;

  @media (min-width: 660px) {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 43px;
    margin-bottom: 42px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: 960px) {
    padding-right: 115px;
    padding-left: 115px;
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__list {
  text-align: center;

  @media (min-width: 660px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contacts__title {
  display: block;
  margin-bottom: -2px;
  font-size: 18px;
  color: #283645;
  font-weight: bold;
}

.contacts__content {
  display: block;
  font-size: 24px;
  font-weight: lighter;
  color: #d22856;
}

.contacts__item {
  margin-bottom: 19px;

  @media (min-width: 660px) {
    width: 50%;
  }

  @media (min-width: 960px) {
    width: 310px;
  }
}

@media (min-width: 660px) {
  .contacts__item--phone {
    margin-bottom: 35px;
  }
}

.contacts__item--mail {
  margin-bottom: 23px;

  @media (min-width: 960px) {
    order: 1;
  }
}

@media (min-width: 960px) {
  .contacts__item--go {
    margin-top: 10px;
  }
}

.contacts__content--address {
  @media (min-width: 660px) {
    padding-left: 45px;
    padding-right: 45px;
  }
}
