.form {
  .form__info-registration {
    display: flex;
    flex-direction: column;
  }
}

.form__info-label {
  margin-bottom: 4px;
  margin-left: 40px;
  text-transform: uppercase;
  color: #d22856;
}

.form__info-input {
  box-sizing: border-box;
  width: 280px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  margin-bottom: 25px;
  margin-left: 20px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  font: inherit;
  outline: 0;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }
}

.form__progress-title {
  margin: 0;
  padding: 0;
  padding-top: 38px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 39px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.form__progress-input + .form__progress-label {
  position: relative;
  padding-left: 90px;
  padding-top: 5px;
  display: block;
  font-size: 18px;
  color: #283645;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }
}

.form__progress-input:checked + .form__progress-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 18px;
  left: 29px;
  width: 20px;
  height: 8px;
  border-bottom: 2px solid #d22856;
  border-left: 2px solid #d22856;
  transform: rotate(-45deg);
}

.form__progress-input + .form__progress-label:hover::before {
  border: 2px solid #283645;
}

.form__progress-input + .form__progress-label:active::before {
  border: 2px solid #d22856;
}

.form__progress-content {
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.form__information {
  background-color: #ffffff;
  border: 0;
  outline: 0;
  padding: 0 20px;
  margin-bottom: 25px;
}

.form__information-label {
  margin-bottom: 4px;
  margin-left: 40px;
  text-transform: uppercase;
  color: #d22856;
}

.form__information-input {
  box-sizing: border-box;
  width: 280px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  margin-bottom: 25px;
  margin-left: 20px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  font: inherit;
  outline: 0;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }
}

.form__information-telephone {
  padding-top: 35px;
}

.form__information-contact {
  padding-bottom: 35px;
}

.form__wrapper--apps {
  min-height: 340px;
}

.form__app-title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 33px;
  margin-bottom: 35px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-transform: uppercase;
}

.form__app-input + .form__app-label {
  position: relative;
  display: block;
  padding-left: 90px;
  margin-bottom: 50px;
  padding-top: 3px;
  font-size: 18px;
  color: #283645;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 35px;
    height: 35px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
  }
}

.form__app-input:checked + .form__app-label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 32px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
}

.form__app-input + .form__app-label:hover::before {
  border: 2px solid #283645;
}

.form__app-input + .form__app-label:active::before {
  border: 2px solid #d22856;
}

.form__remember {
  min-height: 270px;
}

.form__remember-title {
  padding-top: 38px;
  padding-bottom: 15px;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 18px;
  color: #d22856;
  text-align: center;
}

.form__remember--wrapper {
  display: block;
  margin: 0;
  padding: 0;
}

.form__textarea {
  min-width: 280px;
  margin-bottom: 30px;
  margin-left: 14px;
  padding: 15px 20px 20px 15px;
  min-height: 200px;
  box-sizing: border-box;
  font-size: 18px;
  color: #283645;
  border: 2px solid #e5e5e5;
  outline: 0;
}
