.form__app-title {
  margin: 0;
  padding: 0;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.form__app-label {
  display: block;
  font-size: 18px;
  color: #283645;
  cursor: pointer;
}
