.form__information {
  background-color: #ffffff;
  border: 0;
  outline: 0;
  padding: 0 20px;
  margin-bottom: 25px;
}

.form__information-label {
  margin-bottom: 4px;
  margin-left: 40px;
  text-transform: uppercase;
  color: #d22856;
}

.form__information-input {
  box-sizing: border-box;
  width: 280px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  margin-bottom: 25px;
  margin-left: 20px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  font: inherit;
  outline: 0;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }
}

.form__information-telephone {
  padding-top: 35px;
}

.form__information-contact {
  padding-bottom: 35px;
}
