.form__info-registration {
  display: block;
}

.form__info-label {
  text-transform: uppercase;
  color: #d22856;
}

.form__info-input {
  font-size: 18px;
  color: #283645;
  border: 2px solid #e5e5e5;
  outline: 0;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }
}
