.forms__title-wrapper {
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 2px -61px;
}

.forms__title {
  margin: 0;
  padding-left: 20px;
  padding-top: 37px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.forms__text {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.form__wrapper {
  background-color: #f2f2f2;
}

.button-form {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2aab6d;
  color: #ffffff;
  border: none;
  border-radius: 3px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__field {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}

.form__required {
  color: #d22856;
}
