.form__remember-title {
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}

.form__remember--wrapper {
  display: block;
  margin: 0;
  padding: 0;
}

.form__textarea {
  box-sizing: border-box;
  font-size: 18px;
  color: #283645;
  border: 2px solid #e5e5e5;
  outline: 0;
}
