.information-app {
  background-image: url("../img/bg-triangle-white.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 42px;
  background-color: #f2f2f2;

  @media (min-width: 660px) {
    margin-bottom: 59px;
  }

  @media (min-width: 960px) {
    margin: 0;
    padding-bottom: 45px;
  }
}

.information-app__draw {
  @media (min-width: 660px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    overflow: hidden;
  }

  @media (min-width: 960px) {
    margin-bottom: 0;
  }
}

.information-app__list {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  height: 704px;
  overflow: hidden;
  text-align: center;
  list-style: none;

  @media (min-width: 660px) {
    height: 410px;
    padding-left: 264px;
    padding-top: 75px;
    text-align: left;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 0 4px;
    background-repeat: no-repeat;
    background-size: 270px 479px;
  }

  @media (min-width: 960px) {
    display: flex;
    padding: 0;
    background-image: none;
    padding-left: 0;
    padding-bottom: 180px;
    text-align: center;
  }
}

.information-app__item {
  padding-bottom: 31px;

  @media (min-width: 660px) {
    margin-left: 24px;
    background-image: none;
  }
}

.information-app__item--friends {
  padding-bottom: 360px;
  margin-bottom: 10px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;

  @media (min-width: 660px) {
    padding-bottom: 0;
    background-image: none;
  }

  @media (min-width: 960px) {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-position: -2px 8px;
    background-repeat: no-repeat;
    padding-top: 366px;
    padding-bottom: 0;
    margin: 0;
  }
}

@media (min-width: 320px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
  .information-app__item--friends {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: auto 320px;
  }
}

@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .information-app__item--friends {
    background-image: none;
  }
}

@media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .information-app__item--friends {
    background-image: url("../img/iphone-screen-3-desktop@2x.png");
    background-size: 267px auto;
  }
}

@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .information-app__list {
    background-image: url("../img/iphone-screen-3-tablet@2x.png");
    background-size: 267px auto;
  }
}

.information-app__item .information-app__item-title--friends {
  @media (min-width: 660px) {
    margin-left: 24px;
    margin-bottom: 10px;
  }

  @media (min-width: 960px) {
    padding-right: 31px;
    padding-left: 23px;
    padding-bottom: 15px;
    margin-left: 2px;
  }
}

.information-app__item-text {
  margin: 0;
  line-height: 24px;

  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
  }
}

.information-app__item-text--friends {
  @media (min-width: 660px) {
    margin-left: 23px;
  }

  @media (min-width: 960px) {
    width: 250px;
    margin-left: 16px;
  }
}

.information-app__item--world {
  @media (min-width: 660px) {
    margin-bottom: 4px;
  }

  @media (min-width: 960px) {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-position: -2px 8px;
    background-repeat: no-repeat;
    padding-top: 366px;
    margin-right: 22px;
  }
}

@media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .information-app__item--world {
    background-image: url("../img/iphone-screen-2-desktop@2x.png");
    background-size: 270px auto;
  }
}

.information-app__item--mood {
  @media (min-width: 660px) {
    margin-bottom: 5px;
  }

  @media (min-width: 960px) {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-position: 4px 8px;
    background-repeat: no-repeat;
    padding-top: 365px;
    margin-left: 0;
    margin-right: 15px;
  }
}

@media (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .information-app__item--world {
    background-image: url("../img/iphone-screen-1-desktop@2x.png");
    background-size: 270px auto;
  }
}

.information-app__item-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  @media (min-width: 960px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.information-app__item-title--mood {
  @media (min-width: 660px) {
    margin-left: 21px;
    margin-bottom: 10px;
  }

  @media (min-width: 960px) {
    width: 200px;
    margin-left: 50px;
    margin-bottom: 27px;
  }
}

.information-app__item-text--mood {
  @media (min-width: 660px) {
    padding-left: 21px;
  }

  @media (min-width: 960px) {
    padding-left: 0;
    width: 290px;
  }
}

.information-app__item-title--world {
  @media (min-width: 660px) {
    margin-left: 21px;
    margin-bottom: 10px;
  }

  @media (min-width: 960px) {
    width: 200px;
    margin-left: 41px;
    margin-bottom: 24px;
  }
}

.information-app__item-text--world {
  @media (min-width: 660px) {
    padding-left: 22px;
    padding-bottom: 2px;
  }

  @media (min-width: 960px) {
    width: 237px;
    padding-left: 19px;
    padding-right: 42px;
  }
}

.information-app__img {
  text-align: center;
}
