.information-app {
  background-image: url("../img/bg-triangle-white.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 42px;
  background-color: #f2f2f2;

  @media (min-width: 660px) {
    margin-bottom: 59px;
  }
}

.information-app__draw {
  @media (min-width: 660px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 485px;
    overflow: hidden;
  }

  @media (min-width: 960px) {
    height: 822px;
    margin-bottom: 0;
  }
}

.information-app__list {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  height: 704px;
  overflow: hidden;
  text-align: center;
  list-style: none;

  @media (min-width: 660px) {
    padding-left: 288px;
    padding-top: 75px;
    text-align: left;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 0 5px;
    background-repeat: no-repeat;
    background-size: 270px 479px;
  }

  @media (min-width: 960px) {
    display: flex;
    background-image: none;
    padding-left: 0;
    text-align: center;
  }
}

.information-app__item {
  padding-bottom: 31px;

  &--friends {
    padding-bottom: 360px;
    margin-bottom: 10px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;

    @media (min-width: 660px) {
      margin-left: 23px;
    }
  }

  @media (min-width: 660px) {
    background-image: none;
  }
}

@media (min-width: 960px) {
  .information-app__item--friends {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-position: 50% 5%;
    background-repeat: no-repeat;
    padding-top: 380px;
  }
}

@media (min-width: 960px) {
  .information-app__item--friends .information-app__item-text {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.information-app__item--world {
  @media (min-width: 660px) {
    margin-bottom: 4px;
  }

  @media (min-width: 960px) {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-position: 50% 5%;
    background-repeat: no-repeat;
    padding-top: 380px;
  }
}

.information-app__item--mood {
  @media (min-width: 660px) {
    margin-bottom: 3px;
  }

  @media (min-width: 960px) {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-position: 50% 5%;
    background-repeat: no-repeat;
    padding-top: 380px;
  }
}

.information-app__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  @media (min-width: 960px) {
    font-size: 30px;
  }
}

.information-app__item-title--mood {
  @media (min-width: 660px) {
    margin-left: 21px;
  }
}

.information-app__item-text--mood {
  @media (min-width: 660px) {
    padding-left: 21px;
  }
}

.information-app__item-title--world {
  @media (min-width: 660px) {
    margin-left: 21px;
    margin-bottom: 10px;
  }
}

.information-app__item-text--world {
  @media (min-width: 660px) {
    padding-left: 22px;
    padding-bottom: 2px;
  }
}

.information-app__item-text {
  margin: 0;
  line-height: 24px;

  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
  }
}

.information-app__img {
  text-align: center;
}
