.information-app {
  margin-top: 45px;
}

.information-app__texts {
  color: #283645;
  background-color: #ffffff;
}

@media (min-width: 660px) {
  .information-app__texts {
    width: 620px;
  }
}

.information-app__text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

@media (min-width: 660px) {
  .information-app__text {
    margin: 0;
    font-size: 40px;
    line-height: 48px;
  }

  .information-app__text:last-child {
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.information-app__draw {
  height: 800px;
  margin-bottom: 45px;
  background-color: #f2f2f2;
}

@media (min-width: 660px) {
  .information-app__draw {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 510px;
    width: 620px;
  }
}

.information-app__list {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  text-align: center;
  list-style: none;
}

@media (min-width: 660px) {
  .information-app__list {
    display: flex;
    flex-direction: column;
    width: 360px;
    text-align: left;
  }
}

.information-app__item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 34px;
}

.information-app__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.information-app__item-text {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.information-app__img {
  text-align: center;
}
