.inner-page {
  width: auto;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  background-color: #ffffff;
  color: #283645;

  @media (min-width: 660px) {
    width: 620px;
  }

  @media (min-width: 960px) {
    width: 940px;
  }
}
