.inner-page {
  width: auto;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  background-color: #ffffff;
  color: #283645;
}
