.intro-app {
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: repeat;
  background-position: 2px -73px;
}

.intro-app picture {
  display: block;
  width: 304px;
  height: 237px;
  padding-top: 110px;
}

.intro-app__wrapper {
  min-height: 270px;
  background-color: #283645;
}

.intro-app__link {
  padding: 40px 25px 32px 25px;
  margin-bottom: 10px;
  text-align: center;
}

.intro-app__link a {
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border: 3px solid #ffffff;
  padding: 15px 28px;
  border-radius: 50px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.intro-app__list {
  display: flex;
  justify-content: space-between;
  width: 210px;
  padding-left: 53px;
  margin-bottom: 20px;
  align-items: baseline;
}

.intro-app__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
