.intro-app {
  background-image: url("../img/bg-back-mobile@1px.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.intro-app__wrapper {
  background-color: #1d2631;
}

.intro-app__link {
  text-align: center;
}

.intro-app__link a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid #ffffff;
  border-radius: 50px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.intro-app__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
