.intro-app {
  background-color: #283645;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -2px 102px, 50% 0;
  background-size: 277px 247px;
  padding-top: 350px;
  margin: 0 auto;

  @media (min-width: 660px) {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 44px 61px, 50% 0;
    background-size: 617px 398px;
    padding-top: 460px;
  }

  @media (min-width: 960px) {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: 411px 176px, 50% 0;
    background-size: 716px 439px, cover;
    padding-top: 615px;
  }
}

.container {
  display: none;

  @media (min-width: 660px) {
    display: none;
  }

  @media (min-width: 960px) {
    display: block;
  }
}

.intro-app picture {
  display: block;
  width: 304px;
  height: 237px;
  padding-top: 110px;

  @media (min-width: 660px) {
    height: 350px;
  }
}

.intro-app__wrapper {
  min-height: 270px;
  background-color: #283645;

  @media (min-width: 660px) {
    position: absolute;
    top: 452px;
    margin-left: 43px;
    background-color: transparent;
  }

  @media (min-width: 960px) {
    top: 146px;
  }
}

.intro-app__title {
  display: none;

  @media (min-width: 660px) {
    display: block;
    margin: 0;
    width: 193px;
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
  }

  @media (min-width: 960px) {
    display: inline-block;
    width: 250px;
    margin-left: 29px;
    font-size: 50px;
    line-height: 62px;
  }
}

.intro-app__link {
  padding: 40px 25px 32px 25px;
  margin-bottom: 10px;
  text-align: center;
}

.intro-app__link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 15px 28px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.intro-app__list {
  display: flex;
  justify-content: space-between;
  width: 210px;
  padding-left: 53px;
  margin-bottom: 20px;
  align-items: baseline;
}

.intro-app__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;

  @media (min-width: 960px) {
    font-size: 18px;
  }
}
