.modal-error {
  position: absolute;
  top: 1430px;
  left: 0;
  display: none;
  width: 320px;
  height: 290px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.inner-form {
  position: relative;
}

.modal-error__words {
  margin-top: 40px;
  background-color: #ffffff;
}

.modal-error__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.modal-error__text {
  margin: 0;
  margin-bottom: 40px;
  line-height: 24px;
  color: #283645;
  text-align: center;
}

.modal-error__button {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}
