.page-form__title-wrapper {
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 2px -61px;
}

.page-form__title {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 37px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.page-form__text {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 50px;
  text-align: center;
}
