.page-form__title-wrapper {
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 2px -61px;

  @media (min-width: 660px) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: -217px -110px;
  }
}

.page-form__title {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 37px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;

  @media (min-width: 660px) {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 80px;
    padding-top: 80px;
    font-size: 50px;
    line-height: 60px;
  }
}

.page-form__text {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 50px;
  text-align: center;

  @media (min-width: 660px) {
    font-size: 18px;
    padding-left: 140px;
    padding-right: 140px;
  }
}
