.form {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;

  @media (min-width: 960px) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.form__info {
  margin-bottom: 25px;

  @media (min-width: 660px) {
    margin-bottom: 3px;
  }

  @media (min-width: 960px) {
    width: 430px;
    margin-right: 70px;
    margin-top: 22px;
    margin-bottom: 0;
  }
}

.form__info-registration {
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;

  @media (min-width: 660px) {
    flex-direction: row;
  }
}

.form__info-label {
  margin-bottom: 4px;
  margin-left: 23px;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: 660px) {
    margin-top: 18px;
    margin-right: 18px;
    margin-left: 0;
  }
}

.form__info-registration input {
  font-size: 18px;
}

.form__info-input {
  width: 100%;
  box-sizing: border-box;
  height: 63px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 18px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  font: inherit;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }

  @media (min-width: 660px) {
    margin-bottom: 52px;
    padding-left: 20px;
  }

  @media (min-width: 960px) {
    margin-bottom: 52px;
  }
}

.form__wrapper--progress {
  background-color: #f2f2f2;
  margin: 0 -20px;
  margin-bottom: 29px;

  @media (min-width: 660px) {
    background-color: #ffffff;
    order: 2;
    margin-bottom: 26px;
  }

  @media (min-width: 960px) {
    margin: 0;
    margin-bottom: 29px;
  }
}

.form__progress {
  @media (min-width: 660px) {
    border: 2px solid #f2f2f2;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 31px;
  }

  @media (min-width: 960px) {
    margin: 0;
    flex-direction: column;
  }
}

@media (min-width: 960px) {
  .form__progress-content--burn {
    order: 1;
    margin-right: 30px;
  }
}

@media (min-width: 960px) {
  .form__progress-content--souvenirs {
    order: 1;
  }
}

@media (min-width: 960px) {
  .form__progress-content--hotel {
    order: 3;
  }
}

@media (min-width: 960px) {
  .form__progress-content:nth-child(6) {
    margin-right: 60px;
  }
}

@media (min-width: 960px) {
  .form__progress-content:nth-child(5) {
    margin-right: 64px;
  }
}

@media (min-width: 960px) {
  .form__progress-shell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 0;
    width: 936px;
    padding-bottom: 7px;
  }
}

.form__progress-title {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 45px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 660px) {
    width: 430px;
    padding: 0;
    margin-top: -9px;
    margin-left: 72px;
    margin-bottom: 49px;
    background-color: #ffffff;
  }

  @media (min-width: 960px) {
    padding-right: 4px;
  }
}

.form__progress-input + .form__progress-label {
  position: relative;
  padding-left: 89px;
  display: block;
  font-size: 18px;
  color: #283645;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 20px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
  }

  @media (min-width: 660px) {
    padding-left: 79px;
    margin-left: 38px;
  }

  @media (min-width: 960px) {
    padding-left: 78px;
    margin-left: 37px;
  }
}

.form__progress-input:checked + .form__progress-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 29px;
  width: 20px;
  height: 8px;
  border-bottom: 2px solid #d22856;
  border-left: 2px solid #d22856;
  transform: rotate(-45deg);
}

.form__progress-input + .form__progress-label:hover::before {
  border: 2px solid #283645;
}

.form__progress-input + .form__progress-label:active::before {
  border: 2px solid #d22856;
}

.form__progress-content {
  padding-bottom: 10px;
  margin-bottom: 42px;

  @media (min-width: 660px) {
    padding-bottom: 11px;
  }
}

.form__information {
  background-color: #ffffff;
  border: 0;
  margin-bottom: 25px;

  @media (min-width: 660px) {
    margin-top: 53px;
    padding-bottom: 21px;
    order: 1;
    border: 2px solid #e5e5e5;
  }

  @media (min-width: 960px) {
    width: 940px;
    margin-top: -3px;
    margin-bottom: 57px;
    padding-bottom: 8px;
  }
}

.form__information-wrapper {
  @media (min-width: 960px) {
    display: flex;
    align-items: baseline;
  }
}

.form__information-title--hidden {
  display: none;

  @media (min-width: 660px) {
    display: block;
    width: 260px;
    margin: 0;
    margin-top: -16px;
    margin-left: 155px;
    margin-bottom: 32px;
    text-align: center;
    color: #d22856;
    background-color: #ffffff;
    text-transform: uppercase;
  }

  @media (min-width: 960px) {
    margin-bottom: 29px;
  }
}

.form__information-label {
  display: block;
  margin-bottom: 6px;
  margin-left: 23px;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: 660px) {
    margin-left: 77px;
  }

  @media (min-width: 960px) {
    margin-left: 54px;
  }
}

.form__information-contact input {
  font-size: 18px;
}

.form__information-input {
  width: 100%;
  box-sizing: border-box;
  height: 63px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 17px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  font: inherit;

  &:hover {
    border: 2px solid #283645;
  }

  &:active {
    border: 2px solid #d22856;
  }

  @media (min-width: 660px) {
    padding-right: 60px;
    margin-bottom: 9px;
    padding-left: 18px;
  }

  @media (min-width: 960px) {
    margin-left: 35px;
  }
}

.form__information-contact {
  @media (min-width: 660px) {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 57px;
  }

  @media (min-width: 960px) {
    margin-left: 23px;
  }
}

.form__information-contact::before {
  @media (min-width: 660px) {
    content: "";
    position: absolute;
    right: 59px;
    top: 1px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    background-position: 50% 50%;
  }
}

@media (min-width: 960px) {
  .form__information-contact::before {
    right: 2px;
  }
}

.form__information-contact--number {
  @media (min-width: 660px) {
    margin-bottom: 24px;
  }

  @media (min-width: 960px) {
    margin-right: 14px;
    margin-bottom: 0;
  }
}


.form__information-contact--number::before {
  @media (min-width: 660px) {
    content: "";
    position: absolute;
    right: 60px;
    top: 1px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-color: #e5e5e5;
    background-position: 50% 50%;
  }
}

@media (min-width: 960px) {
  .form__information-contact--number::before {
    right: 1px;
  }
}


.form__wrapper--app {
  background-color: #f2f2f2;
  margin: 0 -20px;

  @media (min-width: 660px) {
    background-color: #ffffff;
  }

  @media (min-width: 960px) {
    margin-top: 7px;
  }
}

.form__app {
  @media (min-width: 660px) {
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 11px;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }

  @media (min-width: 960px) {
    width: 430px;
    margin-bottom: 15px;
  }
}

.form__app-title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 37px;
  margin-bottom: 41px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 660px) {
    width: 392px;
    margin-bottom: 48px;
    padding: 0;
    padding-top: 1px;
    background-color: #ffffff;
  }

  @media (min-width: 960px) {
    width: 370px;
    margin-bottom: 50px;
  }
}

.form__app-input + .form__app-label {
  position: relative;
  display: block;
  padding-left: 89px;
  margin-bottom: 45px;
  font-size: 18px;
  color: #283645;
  cursor: pointer;

  @media (min-width: 660px) {
    padding-left: 117px;
    margin-bottom: 46px;
  }

  @media (min-width: 960px) {
    padding-left: 133px;
  }
}

.form__app-input:checked + .form__app-label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 32px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;

  @media (min-width: 660px) {
    left: 70px;
    top: 8px;
  }

  @media (min-width: 960px) {
    left: 86px;
  }
}

.form__app-input + .form__app-label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 21px;
  width: 35px;
  height: 35px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;

  @media (min-width: 660px) {
    top: -4px;
    left: 58px;
  }

  @media (min-width: 960px) {
    left: 74px;
  }
}

.form__app-input + .form__app-label:hover::before {
  border: 2px solid #283645;
}

.form__app-input + .form__app-label:active::before {
  border: 2px solid #d22856;
}

.form__remember {
  @media (min-width: 660px) {
    order: 2;
    margin-bottom: 52px;
    margin-top: 28px;
    border: 2px solid #f2f2f2;
  }

  @media (min-width: 960px) {
    width: 940px;
    margin-bottom: 47px;
  }
}

.form__remember-title {
  padding-top: 40px;
  padding-bottom: 17px;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 18px;
  color: #d22856;
  text-align: center;

  @media (min-width: 660px) {
    width: 255px;
    padding: 0;
    margin-bottom: 28px;
    background-color: #ffffff;
  }

  @media (min-width: 960px) {
    margin-bottom: 35px;
  }
}

.form__remember-wrap {
  display: block;
  margin: 0;
  padding: 0;

  @media (min-width: 660px) {
    margin-left: 57px;
    padding-top: 9px;
    margin-right: 57px;
  }

  @media (min-width: 960px) {
    padding-top: 0;
  }
}

.form__textarea {
  width: 100%;
  padding-bottom: 68px;
  margin-bottom: 39px;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 20px;
  box-sizing: border-box;
  font-size: 18px;
  color: #283645;
  border: 2px solid #e5e5e5;

  @media (min-width: 660px) {
    padding-bottom: 63px;
  }

  @media (min-width: 960px) {
    padding-top: 14px;
    margin-bottom: 34px;
    padding-bottom: 0;
  }
}

@media (min-width: 660px) {
  .form__footer .container {
    display: flex;
    justify-content: space-between;
    width: 660px;
    align-items: baseline;
  }
}

@media (min-width: 660px) {
  .form__footer {
    order: 2;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    box-sizing: border-box;
    align-items: baseline;
  }
}

@media (min-width: 960px) {
  .form__footer {
    width: 940px;
    margin-bottom: 32px;
  }
}

.form__field {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 53px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: 960px) {
    display: none;
  }
}

.form__field--hidden {
  display: none;

  @media (min-width: 960px) {
    display: block;
  }
}

.form__required {
  color: #d22856;
}

.button-form {
  display: block;
  width: 280px;
  height: 63px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2aab6d;
  color: #ffffff;
  border: none;
  border-radius: 3px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: 660px) {
    width: 300px;
  }
}
