.page-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  z-index: 1;

  @media (min-width: 960px) {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 28px;
  line-height: 0;
  background-color: #283645;

  @media (min-width: 660px) {
    padding-bottom: 30px;
    height: 60px;
  }

  @media (min-width: 960px) {
    height: 66px;
    padding-bottom: 24px;
    background-color: transparent;
  }
}

.page-header__clear {
  background-color: rgba(21, 32, 45, 0.3);
}

.page-header__dark {
  background-color: #283645;
}

.page-header__logo-mobile {
  width: 75px;
  height: 23px;

  @media (min-width: 660px) {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;

  @media (min-width: 660px) {
    width: 146px;
    height: 40px;
    display: block;
    margin-top: 7px;
  }

  @media (min-width: 960px) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;
  width: 146px;
  height: 40px;

  @media (min-width: 960px) {
    display: block;
    margin-top: 6px;
    color: #ffffff;
  }
}

.page-header__logo-desktop:hover {
  color: #d22856;
}

.page-header__logo-desktop:active {
  color: #ffffff;
  opacity: 0.3;
}
