.page-footer {
  display: none;

  @media (min-width: 660px) {
    display: block;
    padding-bottom: 40px;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
}

.footer-logo__tablet {
  display: none;

  @media (min-width: 660px) {
    display: block;
  }

  @media (min-width: 960px) {
    display: none;
  }
}

.footer-logo__desktop {
  display: none;

  @media (min-width: 660px) {
    display: none;
  }

  @media (min-width: 960px) {
    display: block;
  }
}

.social__list {
  @media (min-width: 660px) {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
  }
}

.page-footer__social {
  @media (min-width: 660px) {
    width: 300px;
    text-align: center;
  }
}

.social__link {
  @media (min-width: 660px) {
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #e9ebec;
  }
}

.social__link--twitter {
  @media (min-width: 660px) {
    margin-left: 14px;
    fill: #d22856;
  }
}

.social__link--facebook {
  @media (min-width: 660px) {
    margin-left: 19px;
    fill: #d22856;
  }
}

.social__link--youtube {
  @media (min-width: 660px) {
    margin-left: 18px;
    fill: #d22856;
  }
}

.copyright__text {
  line-height: 18px;
  color: #283645;
  font-weight: 400;
}

.copyright__color {
  fill: #d22856;
}
