.page-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  z-index: 1;
  margin-bottom: -68px;

  @media (min-width: 660px) {
    margin-bottom: -136px;
  }

  @media (min-width: 960px) {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 25px;
  line-height: 0;
  background-color: #283645;

  @media (min-width: 660px) {
    height: 90px;
  }

  @media (min-width: 960px) {
    background-color: transparent;
  }
}

.main-menu--closed .page-header__top {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo {
  display: block;
  margin-left: 380px;
  margin-top: 24px;
}

.main-navigation {
  position: relative;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 960px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-navigation__toggle {
  position: absolute;
  top: 7px;
  right: 38px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: #d22856;
    opacity: 0.3;
  }

  @media (min-width: 960px) {
    display: none;
  }
}

.main-menu--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 50px;
  height: 4px;
  border: none;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-menu--closed .main-navigation__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856;
}

.main-menu--closed .main-navigation__toggle:active::before {
  background-color: #d22856;
  opacity: 0.3;
}

.main-menu--opened .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 23px;
  right: 0;
  width: 30px;
  height: 5px;
  border: none;
  outline: none;
  background-color: #ffffff;
  transform: rotate(45deg);
  box-shadow: none;
}

.main-menu--opened .main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 0;
  width: 30px;
  height: 5px;
  border: none;
  outline: none;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.main-menu--opened .main-navigation__toggle:hover::before {
  background-color: #d22856;
}

.main-menu--opened .main-navigation__toggle:active::before {
  background-color: #d22856;
  opacity: 0.3;
}

.main-menu--opened .main-navigation__toggle:hover::after {
  background-color: #d22856;
}

.main-menu--opened .main-navigation__toggle:active::after {
  background-color: #d22856;
  opacity: 0.3;
}

.main-nav--nojs .main-navigation__toggle {
  display: none;
}

.main-nav--nojs .main-navigation__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;
}

.main-nav--nojs .site-list__item--active a {
  text-align: center;
}

.main-navigation__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #283645;

  @media (min-width: 660px) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: 960px) {
    width: 640px;
    margin: 0;
    margin-right: 338px;
    background-color: transparent;
  }
}

.main-navigation__list {
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #000000;
  list-style: none;

  @media (min-width: 660px) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: 960px) {
    display: flex;
    justify-content: space-between;
    width: 640px;
    border-top: none;
  }
}

@media (min-width: 960px) {
  .site-list__item--active {
    height: 39px;
    border-bottom: 2px solid #ffffff;
  }
}

@media (min-width: 320px) {
  .main-menu--closed .site-list__item {
    display: none;
  }
}

@media (min-width: 660px) {
  .main-menu--closed .site-list__item {
    display: none;
  }
}

.site-list {
  font-weight: bold;

  @media (min-width: 960px) {
    margin-top: 35px;
  }
}

.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  text-align: center;

  @media (min-width: 960px) {
    padding: 0;
    padding-top: 10px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    background-color: transparent;
    border-bottom: none;
    border-top: none;
  }
}

.site-list a[href] {
  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
