.page-footer {
  display: block;
  padding-bottom: 40px;

  &--hidden {
    display: none;

    @media (min-width: 660px) {
      display: block;
    }
  }
}

.page-footer__wrapper {
  @media (min-width: 660px) {
    width: 630px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 960px) {
    width: 952px;
  }
}

.page-footer__social {
  margin-bottom: 36px;
}

.page-footer__copyright {
  margin-left: 74px;

  @media (min-width: 660px) {
    margin-left: 15px;
    margin-top: 11px;
  }

  @media (min-width: 960px) {
    margin-top: 11px;
  }
}
