.page-main {
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  @media (min-width: 660px) {
    width: auto;
    margin: 0 auto;
  }

  @media (min-width: 960px) {
    width: 940px;
    margin: 0 auto;
  }
}
