.page-footer {
  display: block;
  padding-bottom: 40px;
}

.page-footer__wrapper {
  @media (min-width: 660px) {
    width: 630px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 960px) {
    width: 952px;
  }
}

.page-footer--hidden {
  display: none;

  @media (min-width: 660px) {
    display: block;
  }
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 41px;
  color: #d22856;

  &:hover {
    color: #283645;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-logo {
  @media (min-width: 960px) {
    margin-right: 26px;
  }
}

.footer-logo a {
  display: block;
  margin-left: 66px;
  margin-bottom: 30px;

  @media (min-width: 660px) {
    margin-left: 0;
  }
}

.footer-logo__tablet {
  @media (min-width: 960px) {
    display: none;
  }
}

.footer-logo__desktop {
  display: none;

  @media (min-width: 660px) {
    display: none;
  }

  @media (min-width: 960px) {
    display: block;
  }
}

.footer-logo:hover svg {
  @media (min-width: 960px) {
    fill: #d22856;
  }
}

.footer-logo__desktop:active {
  opacity: 0.3;
}

.page-footer__social {
  margin-bottom: 36px;
}

.page-footer__copyright {
  margin-left: 74px;

  @media (min-width: 660px) {
    margin-left: 15px;
    margin-top: 12px;
  }

  @media (min-width: 960px) {
    margin-top: 11px;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 176px;
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @media (min-width: 660px) {
    margin-top: 3px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #e9ebec;

  &:hover {
    border-color: #283645;
  }

  &:active {
    opacity: 0.1;
  }
}

.social__link-twitter {
  margin-top: 5px;
  margin-left: 14px;
  fill: #d22856;

  @media (min-width: 660px) {
    margin-top: 0;
  }
}

.social__link-facebook {
  margin-left: 18px;
  fill: #d22856;
  margin-top: 3px;

  @media (min-width: 660px) {
    margin-top: 0;
  }
}

.social__link-youtube {
  margin-left: 17px;
  margin-top: 1px;
  fill: #d22856;

  @media (min-width: 660px) {
    margin-top: 0;
  }
}

.copyright__text {
  line-height: 18px;
  color: #283645;
  font-weight: 400;

  @media (min-width: 960px) {
    font-size: 18px;
  }
}

.copyright__color {
  fill: #d22856;

  @media (min-width: 660px) {
    width: 40px;
    height: 40px;
    margin-left: 7px;
  }
}

.copyright__color:hover use {
  fill: #283645;
}

.copyright__color:active use {
  opacity: 0.3;
  fill: #283645;
}
