.photo__title--wrapper {
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: repeat;
  background-position: 2px -61px;
}

.photo__item--wrapper .photo__img {
  display: block;
  height: 137px;
}

.photo__img {
  height: 180px;
}

.photo__title {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 37px;
  padding-bottom: 70px;
  margin-bottom: 55px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.photo__text {
  margin: 0;
  padding: 50px 35px;
  text-align: center;
  color: #283645;
}

.photo__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style: none;
}

.photo__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.photo__description {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.photo__descriptive {
  display: flex;
  align-items: baseline;
  padding-left: 10px;
  padding-top: 10px;
}

.photo__name {
  display: block;
  margin: 0;
  margin-right: 5px;
  color: #283645;
  line-height: 24px;
  font-weight: 700;
}

.photo__name span {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__book {
  display: block;
  margin: 0;
  padding-left: 10px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.photo__like {
  padding-left: 40px;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}
