.photo-title {
  @media (min-width: 660px) {
    margin-bottom: 30px;
  }

  @media (min-width: 960px) {
    margin-bottom: 42px;
  }
}

.photo__text {
  margin: 0;
  padding: 45px 15px;
  margin-bottom: 4px;
  text-align: center;
  color: #283645;

  @media (min-width: 660px) {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
  }

  @media (min-width: 960px) {
    padding-left: 150px;
    padding-right: 150px;
  }
}
