.photo__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  background-color: #ffffff;
  list-style: none;

  @media (min-width: 660px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.photo__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: 660px) {
    width: 300px;
  }
}

@media (min-width: 660px) {
  .photo__item:first-child {
    width: 100%;
    margin-bottom: 40px;
  }
}

.photo__img--panorama img {
  width: 100%;
}

.photo__img--reiew {
  display: block;
  height: 164px;
}

.photo__img {
  height: 180px;
  text-align: center;
}

.photo__description {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  background-color: #f2f2f2;
  box-sizing: border-box;

  @media (min-width: 660px) {
    padding: 0 6px 46px 15px;
    margin: 0 10px;
  }
}

.photo__descriptive {
  display: flex;
  align-items: baseline;
  padding-left: 10px;
  padding-top: 10px;
}

.photo__name {
  display: block;
  margin: 0;
  margin-right: 5px;
  color: #283645;
  line-height: 24px;
  font-weight: 700;
}

.photo__name span {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__book {
  display: block;
  margin: 0;
  padding-left: 10px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.photo__like {
  padding-left: 40px;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}
