.photo__title {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 100px;
  padding-bottom: 78px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;

  @media (min-width: 660px) {
    width: 400px;
    padding-bottom: 125px;
    padding-top: 191px;
    margin-left: 148px;
    font-size: 50px;
    line-height: 60px;
  }

  @media (min-width: 960px) {
    padding-top: 150px;
    padding-left: 145px;
    padding-right: 145px;
  }
}

.photo__text {
  margin: 0;
  padding: 50px 36px;
  text-align: center;
  color: #283645;

  @media (min-width: 660px) {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 75px;
    font-size: 18px;
  }

  @media (min-width: 960px) {
    padding-left: 150px;
    padding-right: 150px;
  }
}
