.price {
  margin-bottom: 42px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  z-index: 1;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 660px) {
    padding-top: 1px;
    padding-bottom: 38px;
    margin-bottom: 3px;
    margin-top: -13px;
  }

  @media (min-width: 960px) {
    padding-top: 72px;
    padding-bottom: 68px;
    margin-bottom: 21px;
  }
}

.price__wrapper {
  overflow: hidden;
  padding-bottom: 28px;
  margin: 0 -20px;

  @media (min-width: 660px) {
    overflow: visible;
  }
}

.price__table {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 91px 0 0;
  background-color: #f2f2f2;

  @media (min-width: 660px) {
    margin: 87px 0 0;
  }
}

.price__column {
  min-width: 280px;
  display: flex;
  align-self: center;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #ffffff;
  border-right: 3px solid #e5e5e5;

  @media (min-width: 660px) {
    min-width: 155px;
    align-self: flex-start;
    border-right: 1px solid #e5e5e5;
  }

  @media (min-width: 960px) {
    min-width: 234px;
  }
}

.price__column--first {
  display: none;

  @media (min-width: 660px) {
    display: block;
  }
}

.price__column .price__title--invisible {
  @media (min-width: 660px) {
    display: block;
    border-left: none;
    background-color: #f2f2f2;
  }
}

.price__slot-desktop {
  @media (min-width: 660px) {
    text-transform: none;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding-left: 17px;
    padding-top: 11px;
  }

  @media (min-width: 960px) {
    font-size: 18px;
    line-height: 18px;
    padding-left: 22px;
    padding-top: 20px;
  }
}

.price__title--hit {
  position: relative;
}

.price__title--hit::before {
  position: absolute;
  content: "";
  top: -54px;
  left: -56px;
  width: 46px;
  height: 46px;
  border-style: solid;
  border-width: 31px;
  border-color: transparent #d22856 transparent transparent;
  transform: rotate(45deg);

  @media (min-width: 660px) {
    top: -43px;
    left: -43px;
    width: 32px;
    height: 31px;
    border-width: 27px;
  }

  @media (min-width: 960px) {
    left: -42px;
    width: 35px;
    height: 43px;
    border-width: 27px;
  }
}

.price__title--hit::after {
  position: absolute;
  content: "хит";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  top: 11px;
  left: 10px;
  transform: rotate(-45deg);

  @media (min-width: 660px) {
    top: 5px;
    left: 6px;
  }

  @media (min-width: 960px) {
    top: 11px;
    left: 10px;
  }
}

.price__column--unlim {
  @media (min-width: 660px) {
    border-right: 1px solid #e5e5e5;
  }
}

.price__title {
  min-height: 98px;
  background-color: #283645;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  padding: 0;

  @media (min-width: 660px) {
    min-height: 81px;
  }

  @media (min-width: 960px) {
    min-height: 98px;
  }
}

.price__slot {
  border-bottom: 3px solid #e5e5e5;
  margin-top: 1px;
  margin-left: 5px;

  @media (min-width: 660px) {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    border-left: 1px solid #e5e5e5;
    border-right: none;
    min-height: 43px;
    margin-left: 0;
  }

  @media (min-width: 960px) {
    min-height: 57px;
  }
}

.price__title p,
.price__title--hit p {
  display: block;
  margin: 0;
  padding: 16px 0 0;

  @media (min-width: 660px) {
    margin-top: -2px;
    font-size: 16px;
  }

  @media (min-width: 960px) {
    margin-top: 0;
    margin-left: 2px;
    font-size: 18px;
  }
}

.price__slot--yes p {
  @media (min-width: 660px) {
    display: none;
  }
}

.price__slot--no p {
  @media (min-width: 660px) {
    display: none;
  }
}

.cross-no {
  width: 27px;
  height: 27px;

  @media (min-width: 660px) {
    margin-left: 1px;
    margin-top: -5px;
  }

  @media (min-width: 960px) {
    margin-left: 0;
    margin-top: 5px;
  }
}

.check-yes {
  width: 27px;
  height: 21px;

  @media (min-width: 660px) {
    margin-top: -5px;
  }

  @media (min-width: 960px) {
    margin-top: 8px;
  }
}

.price__cost {
  display: block;
  margin: 0;
  padding: 3px 0 0;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;

  @media (min-width: 660px) {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
  }

  @media (min-width: 960px) {
    padding: 0;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 36px;
  }
}

.price__slot--yes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  padding: 0 20px;

  @media (min-width: 660px) {
    justify-content: center;
  }
}

.price__slot--no {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  padding: 0 20px;

  @media (min-width: 660px) {
    justify-content: center;
  }
}

.price__toggle {
  margin-top: 22px;
}

.slider__toggle--gray {
  border: 3px solid #f2f2f2;
}

.price__toggle-wrapper {
  @media (min-width: 660px) {
    display: none;
  }
}
