.price {
  padding-top: 91px;
  margin-top: 25px;
  margin-bottom: 40px;
  padding-bottom: 22px;
  background-color: #f2f2f2;
}

@media (min-width: 660px) {
  .price {
    width: 100%;
    padding-bottom: 33px;
  }
}

.price__table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

@media (min-width: 660px) {
  .price__table {
    width: 620px;
    margin: 37px auto;
  }
}

.price__column--first {
  display: none;
}

@media (min-width: 660px) {
  .price__column--first {
    display: table-cell;
    border-left: none;
  }
}

.price__title {
  display: block;
  padding-top: 18px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
}

.price__cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
}

.price__column {
  display: table-cell;
  width: 30%;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-bottom: none;
}

@media (min-width: 660px) {
  .price__column {
    width: 25px;
  }
}

.price__slot {
  border-bottom: 2px solid #e5e5e5;
}

.price__toggle {
  padding-left: 13px;
}

.slider__toggle--gray {
  border: 3px solid #f2f2f2;
}
