.price {
  display: none;
  padding-bottom: 50px;
  background-color: #f2f2f2;
}


.price__table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.price__column {
  display: table-cell;
  width: 30%;
  background-color: #ffffff;
  border-top: none;
  border-bottom: none;
}

.price__column--first {
  display: none;

  @media (min-width: 660px) {
    display: table-cell;
    border-left: none;
  }
}

.price__title {
  display: block;
  background-color: #283645;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e5e5e5;
}


.price__slot {
  padding: 15px;
  padding-left: 22px;
  color: #283645;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: #ffffff;
  border-bottom: 2px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-radius: 1px solid #e5e5e5;
}

.price__cost {
  display: block;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.price__toggle {
  padding-left: 13px;
}

.slider__toggle--gray {
  border: 3px solid #f2f2f2;
}

@media (min-width: 660px) {
  .slider__toggle--wrapper {
    display: none;
  }
}

@media (min-width: 960px) {
  .slider__toggle--wrapper {
    display: none;
  }
}
